/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #0c75cb;
}


header {
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.topnav {
    background-color: #d77310;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

img {
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    display: block;
    margin: 10px 0;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

footer a {
    color: #fff;
    margin: 0 10px;
}